<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>제목</th>
        <th>Data</th>
        <th>작성자</th>
      </tr>
    </thead>
    <tbody id="s-area-list">
    </tbody>
    
    <script id="s-temp-list" type="text/x-handlebars-template">
      {{#rows}} 
      <tr data-sno="3" data-auth="y" style="height:10px">
          <td>
              {{row_count}}
          </td>
          <td class="board_tit">
              <a href="javascript:ntc.fn.moveView({{ntc_idx}})">
                  {{title}}
              </a>
          </td>
          <td>  {{date_cut create_dt}} </td>
          <td> {{writer}} </td>
          <!--<td> 765 </td>-->
      </tr>
      {{/rows}} 
  </script>
  </table>

  <!-- Vue 템플릿으로 바인딩 -->
  <div id="app">
      <p>{{message}}</p>
      <input type="text" v-model="message">
      <li v-for="row in rows">
        <dd class="board_tit">
          <a href="#">
            <input type="text" v-model="row.title">
          </a>
        </dd>
      </li>
      {{src}}
      <list-vue v-bind:rows="rows" v-bind:msg="message" v-bind:src="src">ss</list-vue>
  </div>

</div>

<!-- ********************** Vue 템플릿 *************************** -->

<template id="com">
  <table class="table">
    <thead>
      <tr>
        <th>{{msg}}</th>
        <th>{{src}}</th>
        <th>Data</th>
        <th>작성자</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="row in rows">
        <td>
            {{row.row_count}}
        </td>
        <td class="board_tit">
          <a href="#">
            {{row.title}}
          </a>
        </td>
        <td> {{row.create_dt}}</td>
        <td> {{row.writer}} </td>
        <!--<td> 765 </td>-->
      </tr>
    </tbody>
  </table>
</template>

<script src="https://unpkg.com/vue@next"></script>
<script>

  // Vue.component('list-vue', {
  //    // template: '<p>LIST-VUE</p>'
  //    template: '#com',
  //    props: ['rows', 'msg']
  // });
</script>
<!-- //********************** Vue 템플릿 *************************** -->

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="../external/_w-meta-1.6.1.js"></script>
<script src="base-page-svc.js"></script>
<script src="board-notice-svc.js?ad"></script>
<script>
  try {

    // #######################################################################################################
    var ntc = new _W.BindModelAjax(new BoardNoticeService());

    this.isLog = true;  // 디버깅 모드  
    this.isThrow = true;  // 던지기

    ntc.baseUrl = "http://jns9778.cafe24.com/" + ntc.baseUrl;
    ntc.list.ajaxSetup.crossDomain = true;

    // 속성 설정
    ntc.prop["__viewUrl"] = "notice_Viw.asp";
    ntc.prop['__isGetLoad'] = false;
    ntc.app = {};

    ntc.list.cbOutput = function(p_result) {
      var entity = p_result['table'];
      var row_total   = entity['row_total'];
      
      ntc.items.sort_cd.value = "SSS"

      const { createApp, h, nextTick } = Vue;
      
      
      const app = createApp({
        data() {
          return {
            rows: entity.rows,
            // message: "Title",
            message: ntc.items['ntc_idx'].value,
            // message: {
            //   get() {
            //     return ntc.items['title'].value
            //   },
            //   set(v) {
            //     ntc.items['title'].value = v
            //   }
            // }
            a: 10
          }
        },
        props: ['src'],
        watch: {
          message(n, o) {
            ntc.items['sort_cd'].value = n;
            console.log('watch')
          }
        }
      },
      {
        src: ntc.items['sort_cd'].value
      });

      app.component('list-vue', {
        template: '#com',
        props: ['rows', 'msg', 'src']
      });
      
      app.mount('#app');

      // 연결
      ntc.app = app;


      // ntc.items['sort_cd'].setter = function(val) { 
      //   ntc.app.message = val
      // };
      // ntc.items['sort_cd'].getter = function() { 
      //   return ntc.app.message
      // };

      ntc.items['_txt_sumCnt'].value      = row_total;
      ntc.items['_area_page'].value       = page.parser(row_total); 
    };

    // 이벤트 바인딩
    $('#btn_Search').click(ntc.fn.searchList);
      //--------------------------------------------------------------
    $(document).ready(function () {
      ntc.init();
      ntc.fn.procList();
    });
    if (this.isLog) console.log("______________ $.ready()");

  } catch (e) {
    console.log(e);
  }
</script>

</body>
</html>





